:root {
	/* Colors */
	--light: #E8EAED;
	--lightYellow: #F4DEA0;
	--yellow: #FFD252;

	--dark: #424346;
	--darker: #303133;
	--darkest: #292A2D;

	/* Border-Radius */
	--rounded: 0.375rem;

	/* Spacing */
	--margin: 2rem;
	--paddingTop: 1rem;
	--paddingLeft: 2rem;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	margin: var(--margin);
	color: var(--light);
	background-color: var(--darkest);
	width: 30rem;
	height: 30rem;
}

body, button, input, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

button, input[type='checkbox'], input[type='checkbox']::after, input[type='checkbox']::before {
	cursor: pointer;
	transition: all 0.25s;
}

button {
	color: var(--darkest);
	background-color: var(--light);
	border-radius: var(--rounded);
	border: none;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
}
button:hover {
	background-color: var(--lightYellow);
}
button:active {
	background-color: var(--yellow);
}

/* Slider */
input[type='checkbox'] {
	position: relative;
	width: 2.5rem;
	height: 1.25rem;
	margin-left: 1rem;
}
/* Slider Background */
input[type='checkbox']::after {
	content: '';
	display: block;
	width: 2.5rem;
	height: 1.25rem;
	border-radius: 1.25rem;
	background-color: var(--light);
}
input[type='checkbox']:hover::after {
	background-color: var(--lightYellow);
}
input[type='checkbox']:checked::after {
	background-color: var(--yellow);
}
/* Slider Knob */
input[type='checkbox']::before {
	content: '';
	position: absolute;
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	top: 0.125rem;
    left: 0.125rem;
	background-color: var(--darkest);
	transform: translateX(0);
}
input[type='checkbox']:checked::before {
	transform: translateX(1.25rem);
}

h1 {
	display: inline-block;
}

#close {
	padding: 0;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	position: absolute;
	top: var(--margin);
	right: var(--margin);
}

#back {
	color: var(--light);
	background-color: transparent;
	font-size: 2rem;
	padding: 0;
	font-weight: 100;
	margin-right: 1rem;
}
#back:hover {
	color: var(--yellow);
}

#dailyButton, #weeklyButton, #monthlyButton {
	font-size: 1.25rem;
	color: var(--light);
	background-color: transparent;
}
#dailyButton.selected, #weeklyButton.selected, #monthlyButton.selected {
	color: var(--darkest);
	background-color: var(--yellow);
}

#total {
	color: var(--yellow);
}

#graph {
	width: 100%;
	height: 17.5rem;
	position: relative;
}
#daily, #monthly, #yearly {
	height: 100%;
}
.yAxis, .xAxis {
	position: absolute;
	display: flex;
	justify-content: space-between;
}
.yAxis {
	flex-direction: column-reverse;
	left: -1rem;
	height: 100%;
	margin-bottom: 5%;
}
.xAxis {
	flex-direction: row;
	bottom: -1rem;
	width: 90%;
    margin-left: 5%;
}
.bars {
	position: absolute;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.bar {
	background-color: var(--yellow);
	border-top-left-radius: var(--rounded);
	border-top-right-radius: var(--rounded);
	width: 1rem;
	height: 0;
	transition: height 1s;
}

.hidden, .vSpaceBetween.hidden {
	display: none;
}

.darker {
	background-color: var(--darker);
}

.rounded {
	border-radius: var(--rounded);
}


.padding {
	padding: var(--paddingTop) var(--paddingLeft);
}

.marginTop {
	margin-top: var(--margin);
}

.orMargin {
	margin: 1rem 0;
}

.hSpaceBetween {
	display: flex;
	justify-content: space-between;
}
.vSpaceBetween {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.hCenter {
	text-align: center;
}
.vCenter {
	display: inline-flex;
    align-items: center;
}

.time-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
}

.edit-time {
	background-color: #E8EAED;
	border-radius: 5px;
	height: 100%;
	padding: 5px;
	margin: 0px 5px 0px 5px;
}

.text-size {
	font-size: medium;
}